<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Catalog\Block\Product\ProductList\Related">
        <plugin name="set_can_not_show_in_custom_related_products_section"
                type="Dmitriyprime\RelatedProductsList\Plugin\SetCanNotShowInCustomRelatedProductsSection"
        />
    </type>
</config>
